*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(/image/jogobonito.jpg);
}

.container{
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    display: flex;
    width: 500px;
    height: auto;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2   );
}

.register, .login{
    flex: 1;
}

.register{
    padding: 40px;
    position: relative;
}

.register h2{
    margin-bottom: 20px;
    text-align: center;
}

.register input{
    width: 100%;
    padding: 2px;
    font-size: 15px;
    margin-bottom: 15px;
    border-top-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    border-left: 1px solid #a8a8a8;
}

.register input:active,
.register input:focus{
    outline: none;
}

.register .submit {
    
    width: 50%;
    padding: 10px;
    background-color:#008f39;
    color: white;
    font-size: 12px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@media only screen  and (max-width: 540px){
    .login-container{
        display: block;
    }

    .register, .login{
        flex:none;
    }
    .register::after{
        top: unset;
        bottom: -25px;
        left: 50px;
        transform: translateX(180px) rotate(90deg);
    }
}